<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @flat.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @flat.category %>
</p>

  <strong>Reviews:</strong>
  <ul>
    <% @flat.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>


<%= link_to 'Add a review', new_flat_review_path(@flat) %>

<br>
<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
